.cocktail {
  margin:              8px;
  /* 2 cards per line */
  flex-basis:          calc(50% - 16px);
}

.cocktail-img {
  height:              200px;
  background-size:     cover;
  background-position: center;
}

.cocktail-name {
}
