/* Classes named by algolia search customized */

  .ais-RefinementList-count {
    background-color:     #d2d2d2;
    color:                white;
    margin-left:            8px;
    padding:                0px 4px;
    border-radius:          7px;
    font-weight:            bold;
  }

  /* blocks to choose filter */
  .ais-RefinementList-list {
    display:                flex;
    flex-wrap:              wrap;
    gap:                    16px;
  }


/* Custom classes */

.filters {
  display:                  flex;
  width:                    100%;
  justify-content:          space-between;
}

.filter-block {
  width:                  calc(50% - 16px)s
}
