/* Classes named by algolia search customized */

.ais-RefinementList-count {
  display:              none;

  /* if displayed => as a grey pill
  background-color:     #d2d2d2;
  color:                white;
  margin-left:            8px;
  padding:                0px 4px;
  border-radius:          7px;
  font-weight:            bold; */
}

input[type="checkbox" i], .ais-SearchBox-submit, .ais-SearchBox-reset {
  display:              none;
}

.filters {
  background-color:       #3EA66B;
  padding:                44px;
  display:                flex;
  flex-direction:         column;
  gap:                    32px;
}


/* blocks to choose filter => the filter block */
.ais-RefinementList-list {
  display:               flex;
  flex-wrap:             wrap;
  justify-content:       space-between;
  gap:                   16px;
}

.ais-RefinementList-item {
  padding:              1rem 0rem;
}

.ais-RefinementList-label {
  background-color:     #FFFBE0;
  padding:              1rem;
  border:               1px solid black;
  cursor:               pointer;
}

.ais-RefinementList-item--selected {
  font-weight: bolder;
}
