.App {
  text-align:        center;
  margin:            16px 24px;
}


.search {

}


.cocktail-img {
  height:              60%;
  background-size:     cover;
  background-position: center;
}


ol, ul {
  list-style-type:    none;
  padding:            0;
}

/* Results grid  */
.ais-Hits-list {
  display:            flex;
  flex-wrap:          wrap;
  align-content:      flex-start;
}

/* Each result item (cocktail) */
.ais-Hits-item {
  height:              fit-content;
  margin:              8px;
}

.cocktail-card {
  height:              600px;
  overflow:            scroll;
  box-shadow:          0 0 5px rgba(0,0,0,0.2);
  border-radius:       8px;
}

.cocktail-description {
  padding:             8px;

}

/* For small screens (up to 768px), 2 cards per line */
@media (max-width: 768px) {
  .ais-Hits-item {
    flex-basis:       calc(50% - 16px);
  }
}

/* For larger screens (above 768px), 4 cards per line */
@media (min-width: 769px) {
  .ais-Hits-item {
    flex-basis:      calc(25% - 16px);
  }
}
