.App {
  text-align:     center;
  margin:         16px 24px;
}

.cocktails {
  display:        flex;
  flex-wrap:      wrap;
  align-content:  flex-start;
}

.search {
  position:       sticky;
  top:            0;
}
