.App {
  text-align:     center;
  margin:         16px 24px;
}


.search {
  position:       sticky;
  top:            0;
}

.cocktails {
  display:        flex;
  flex-wrap:      wrap;
  align-content:  flex-start;
}


.cocktail {
  margin:              8px;
  /* 2 cards per line */
  flex-basis:          calc(50% - 16px);
}

.cocktail-img {
  height:              200px;
  background-size:     cover;
  background-position: center;
}
